@import "modules/variables";
@import "modules/fonts";
@import "vendor/reset";
@import "modules/development";
@import "modules/typography";
@import "modules/layout";
@import "modules/buttons";
@import "modules/forms";
@import "modules/carousel";

#pad-calc {
  * {
    box-sizing: border-box;
  }

  color: $black;
  font-family: 'Campton', sans-serif;
  font-weight: 300;
  input, button {
    font-family: 'Campton', sans-serif;
    font-weight: 300;
  }
}
