#pad-calc {
  .present {
    width: 150px;
    margin-top: 20px;
  }

  .slick-track, .slick-slide, .slick-slider {
    &:focus {
      outline: none !important;
    }
  }

  .slick-list {
    margin-bottom: 20px;
  }

  .calc {
    &__carousel {
      &__next {
        @extend .calc__button;
        margin: 0 auto;
      }
      &__slide {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
      }
    }
  }

  .calc {
    &__share {
      font-size: 18px;
      margin-bottom: 10px;
      width: 100%;
      margin-top: 10px;
    }
    &__end {
      display: none;
      justify-content: center;
      align-items: center;
      position: relative;
      flex-direction: column;
      height: 60px;
      &.visible {
        display: flex;
      }
      &--landlord {
        height: auto;
        .calc__get-started {
          margin-bottom: 20px;
        }
      }
    }
    &__get-started {
      @extend .calc__button;
    }
    &__reset {
      background-color: transparent;
      font-size: 12px;
      border: 0;
      cursor: pointer;
      font-weight: 400;
      font-family: 'Campton book', sans-serif;
      padding: 0;
      &:focus {
        outline: 0 !important;
      }
    }
    @media only screen and (max-width: 767px) {
      &__end {
        flex-direction: column;
      }
      &__get-started {
        margin-bottom: 15px;
      }
      &__reset {
        position: static;
      }
    }
  }

  .slide {
    &__heading {
      font-size: 22px;
      line-height: 1.3;
      font-weight: 300;
      margin-right: 30px;
      margin-bottom: 20px;
    }
    &__logos {
      width: 100%;
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      img {
        height: 75px;
        margin: 0 15px 10px;
        @media only screen and (max-width: 991px) {
          height: 50px;
          margin: 0 10px 10px;
        }
      }
      @media only screen and (max-width: 767px) {
        display: none;
        img {
          margin: 0 10px 5px;
          &:nth-child(1), &:nth-child(2), &:nth-child(3) {
            display: block;
          }
        }
      }
    }
    &__tip {
      background-color: $blue;
      color: white;
      padding: 15px;
      font-size: 17px;
      line-height: 1.4;
      margin: 30px 80px 0;
      @media only screen and (max-width: 991px) {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
      }
      @media only screen and (max-width: 767px) {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 15px;
      }
    }
    &__input {
      position: relative;
      margin-bottom: 20px;
      input {
        @extend .calc__input;
        font-size: 22px;
        font-weight: 700;
        font-family: 'Campton';
        border: 2px solid $black;
        padding: 16px 12px 12px 26px;
        width: 150px;
        position: relative;
        top: -2px;
      }
      @media only screen and (max-width: 767px) {
        margin-bottom: 0;
      }
      &--regular {
        input {
          padding: 16px 12px 12px 12px;
        }
      }
      label {
        font-size: 22px;
        margin-right: 5px;
        font-weight: 700;
        position: absolute;
        top: 19px;
        left: 12px;
      }
    }
    &__result {
      &__heading {
        font-size: 26px;
        line-height: 1.3;
        font-weight: 300;
        width: 100%;
        margin-bottom: 10px;
      }
      &__subheading {
        font-size: 26px;
        line-height: 1.3;
        font-weight: 300;
        width: 100%;
        margin-bottom: 10px;
      }
      &__saving--month, &__saving--year, &__saving--year-per-prop {
        font-weight: 700;
      }
    }
    &__additional {
      width: 100%;
      table {
        margin: 20px auto 0;
        tbody {
          tr {
            td {
              font-size: 22px;
              padding: 5px;
              text-align: left;
              font-weight: 700;
              &:nth-child(1) {
                text-align: right;
                font-weight: 300;
              }
            }
          }
        }
      }
    }
  }
}
